
  .newWing-entry {
    height: 500px;
  }
  .newWing-entry .container {
    position: relative;
    height: 480px;
    margin-top: 120px;
    /* ps */
    background-color: pink;
    overflow: hidden;
  }
  .newWing-entry .container ul{
    width: 500%;
    position:absolute;
  }
  .newWing-entry .container ul li{
    float:left;
  }

  .newWing-entry .prev {
    position: absolute;
    top: 230px;
    left: 10px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: rgba(0,0,0,.2) url('../images/sprites.png') 13px -60px;
    display: block;
    z-index: 1;
    /* background-color: rgba(0,0,0,.2); */
  }
  
  .newWing-entry .next {
    position: absolute;
    top: 230px;
    right: 10px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: rgba(0,0,0,.2) url('../images/sprites.png') -22px -60px;
    display: block;
    z-index: 1;
  }
  
  .newWing-entry.indicator {
    position: absolute;
    left: 680px;
    bottom: 31px;
    width: 110px;
    height: 10px;
    /* ps */
    /* background-color: red; */
  }
  
  .newWing-entry .indicator li {
    float: left;
    width: 10px;
    height: 10px;
    margin-right: 15px;
    background-color: rgba(255,255,255,.43);
    border-radius: 50%;
    z-index: 2;
  }
  
  .newWing-entry .indicator li.active {
    background-color: #fff;
  }
  
  .newWing-entry .indicator li:last-child {
    margin-right: 0;
  }
  .newWingProm{
    height: 520px;
  }
  
  .newWingProm .goods-hd {
    height: 75px;
    /* ps */
    /* background-color: skyblue; */
    line-height: 75px;
    margin-left: 20px;
    border-bottom: orange solid 1px;
  }
  
  .newWingProm .goods-hd h2 {
    height: 75px;
    font-size: 29px;
    font-weight: 400;
  }
  
  .newWingProm .goods-hd h2 span {
    font-size: 16px;
    color: #999;
  }
  
  .newWingProm .goods-hd a {
    color: #666;
  }
  
  .newWingProm .goods-hd a::after {
    content: '';
    display: inline-block;
    width: 7px;
    height: 13px;
    margin-left: 13px;
    /* ps */
    /* background-color: red; */
    background: url('../images/sprites.png') 0 -110px;
    vertical-align: middle;
  }
  
  .newWingProm .goods-list {
    height: 405px;
    margin-left: 40px;
    /* ps */
    /* background-color: orange; */
  }
  
  .newWingProm .goods-list li {
    float: left;
    width: 292px;
    height: 290px;
    margin-right: 8px;
    background-color: #f0f9f4;
    line-height: 1;
    text-align: center;

  }
 
  .newWingProm .goods-list li:last-child {
    margin-right: 20px;
  }
  
  .newWingProm .goods-list li img {
    width: 100%;

  }
  
  .newWingProm .goods-list li h3 {
    height: 40px;
    margin-top: 22px;
    font-size: 20px;
    font-weight: 400;
  }
  
  .newWingProm .goods-list li p {
    color: #9a2e1f;
    font-size: 23px;
  }
  
  .newWingProm .goods-list li span {
    font-size: 17px;
  }