body{
    background: url("../images/uploads/curtain04.jpge.jpg ") no-repeat;
    background-size: 100%;
    background-position: center;
    padding-left: 375px;
    padding-top: 50px;
}

.signHomepage{
    width: 500px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 10px #333;
    text-align: center;
}

.signHomepage img{
    border-bottom: 3px solid orange;
}
.signHomepageBox{
    margin-top: 30px;
    margin-left: 100px;
    width: 300px;
    height: 300px;
}
.signHomepage-inner div{
    text-align: left;
}
.signHomepage-inner div label{
    position: relative;
    margin-top: 30px;
    margin-left: 30px;
}
.signHomepage-inner div input {
    text-align: center;
    width: 200px;
    height: 40px;
    margin-top: 30px;
    border-radius: 20px;
    font: italic;
    box-shadow: inset;
    margin-right: 18px;


}

.loginBtn{
    width: 300px;
    height: 40 px;
    background-color: orange;
    color: white;
    text-align: center;
    line-height: 40px;
    border-radius: 10px;
    border: none;
    margin: 12px auto;
}
.loginBtn:hover{
    border: 2px solid #fff;
}